<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>DatabaseSetup</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Install</display-name>
    <servlet-name>Install</servlet-name>
    <servlet-class>codes.abdullah.web.admin.Install</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Install</servlet-name>
    <url-pattern>/install</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>codes.abdullah.web.login.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>codes.abdullah.web.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Init-Filter</display-name>
    <filter-name>Init-Filter</filter-name>
    <filter-class>codes.abdullah.web.filter.InitFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Init-Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>Flash-Scope-Filter</display-name>
    <filter-name>Flash-Scope-Filter</filter-name>
    <filter-class>codes.abdullah.web.filter.FlashScopeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Flash-Scope-Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Account-Help</display-name>
    <servlet-name>Account-Help</servlet-name>
    <servlet-class>codes.abdullah.web.login.AccountHelp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account-Help</servlet-name>
    <url-pattern>/account-help</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>codes.abdullah.web.login.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dum</display-name>
    <servlet-name>dum</servlet-name>
    <servlet-class>pkg.DummyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dum</servlet-name>
    <url-pattern>/dum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>codes.abdullah.web.login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verify</display-name>
    <servlet-name>verify</servlet-name>
    <servlet-class>codes.abdullah.web.login.Verify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verify</servlet-name>
    <url-pattern>/verify/*</url-pattern>
  </servlet-mapping>
</web-app>